.icono-carpeta {
    color: #999; /* Color más tenue (gris claro) */
    font-size: 30px; /* Tamaño del ícono */
}
.icono-archivo {
    color: black; /* Color negro */
    font-size: 24px; /* Tamaño del ícono */
}
.custom-modal-width {
    max-width: 2040px; /* Ancho máximo */
    width: 100%; /* Ocupar el 100% del contenedor padre */
    margin-left: auto; /* Centrar el modal horizontalmente */
    margin-right: auto; /* Centrar el modal horizontalmente */
    max-height: 100%; /* Altura máxima */
    height: 100vh; /* Ocupar el 100% del alto de la pantalla */
    margin-top: 0; /* Eliminar el margen superior */
    margin-bottom: 0; /* Eliminar el margen inferior */
}
.modal-body{
    height: 80vh !important;
}
.modal-content {
    height: 80vh !important;
}

#scene-container {
    width: 100%;
    height: 100% !important; /* Ocupar el 100% del alto de la pantalla */
    overflow: hidden;
}

canvas {
    display: block;
}

.spinner-container {
    position: relative;
  }

  .spinner {
    position: absolute;
    top: -50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Adjust as needed */
    /* Your spinner styles */
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .spinner.hidden {
    display: none;
  }