{% extends 'core/base.html' %}
{% load static %}
{% block headercontent %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3 col-3 text-center card-body">
        <div class="row">
            <a class="btn btn-app bg-secondary form-control" href="{% url 'home' %}">
                <i class="fas fa-arrow-circle-left" style="font-size: 35px;"></i>
            </a>
        </div>
        <div class="row">
            <div class="col-lg-12 col-12 text-center card-body">
                <img src="{% static 'src/img/calculater.gif' %}" height="260" width="260">
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-6 text-center card">
        <div class="row table text-center" style="height: 50px;">
            <div class="col-lg-3 col-3 text-center"><br/></div>
            <div class="col-lg-12 col-12 text-center">
                <input class="textview form-control" name="textview" readonly placeholder="Ingrese datos"
                       style="height: 50px; font-size: 35px;">
            </div>
            <div class="col-lg-3 col-3 text-center"><br/></div>
        </div>
        <br/>
        <div class="row">
<!--            <div class="col-lg-3 col-3 text-center"><br/></div>-->
            <div class="col-lg-12 col-12 text-center">
                <div class="row">
                    <div class="col-lg-3 col-3 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="%" onclick="clean()">
                    </div>
                    <div class="col-lg-3 col-3 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="x²" onclick="back()">
                    </div>
                    <div class="col-lg-3 col-3 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="²√x" onclick="insert('/')">
                    </div>
                    <div class="col-lg-3 col-3 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="÷" onclick="insert('*')">
                    </div>
                </div>
            </div>
<!--            <div class="col-lg-3 col-3 text-center"><br/></div>-->
        </div>
        <br/>
        <div class="row">
<!--            <div class="col-lg-3 col-3 text-center"><br/></div>-->
            <div class="col-lg-12 col-12 text-center">
                <div class="row">
                    <div class="col-lg-3 col-3 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="7" onclick="clean()">
                    </div>
                    <div class="col-lg-3 col-3 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="8" onclick="back()">
                    </div>
                    <div class="col-lg-3 col-3 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="9" onclick="insert('/')">
                    </div>
                    <div class="col-lg-3 col-3 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="x" onclick="insert('*')">
                    </div>
                </div>
            </div>
<!--            <div class="col-lg-3 col-3 text-center"><br/></div>-->
        </div>
        <br/>
        <div class="row">
<!--            <div class="col-lg-3 col-3 text-center"><br/></div>-->
            <div class="col-lg-12 col-12 text-center">
                <div class="row">
                    <div class="col-lg-3 col-3 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="4" onclick="clean()">
                    </div>
                    <div class="col-lg-3 col-3 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="5" onclick="back()">
                    </div>
                    <div class="col-lg-3 col-3 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="6" onclick="insert('/')">
                    </div>
                    <div class="col-lg-3 col-3 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="-" onclick="insert('*')">
                    </div>
                </div>
            </div>
<!--            <div class="col-lg-3 col-3 text-center"><br/></div>-->
        </div>
        <br/>
        <div class="row">
<!--            <div class="col-lg-3 col-3 text-center"><br/></div>-->
            <div class="col-lg-12 col-12 text-center">
                <div class="row">
                    <div class="col-lg-3 col-3 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="1" onclick="clean()">
                    </div>
                    <div class="col-lg-3 col-3 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="2" onclick="back()">
                    </div>
                    <div class="col-lg-3 col-3 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="3" onclick="insert('/')">
                    </div>
                    <div class="col-lg-3 col-3 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="+" onclick="insert('*')">
                    </div>
                </div>
            </div>
<!--            <div class="col-lg-3 col-3 text-center"><br/></div>-->
        </div>
        <br/>
        <div class="row">
<!--            <div class="col-lg-3 col-3 text-center"><br/></div>-->
            <div class="col-lg-12 col-12">
                <div class="row table">
<!--                    <div class="col-lg-3 col-3 text-center">-->
<!--                        <br/>-->
<!--                    </div>-->
                    <div class="col-lg-4 col-4 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="." onclick="insert('/')">
                    </div>
                    <div class="col-lg-4 col-4 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="0" onclick="back()">
                    </div>
                    <div class="col-lg-4 col-4 text-center">
                        <input class="btn btn-block bg-gradient-secondary btn-lg" type="button" value="=" onclick="insert('*')">
                    </div>
                </div>
            </div>
<!--            <div class="col-lg-3 col-3 text-center"><br/></div>-->
        </div>

    </div>
    <div class="col-lg-3 col-3 text-center">
      <img src="{% static 'src/img/calculater2.gif' %}"  height="260" width="260">
    </div>
</div>


<!--    <div class="main">-->
<!--        <h1>Mario Monroy</h1>-->
<!--        <form name="form">-->
<!--            <input class="textview" name="textview" readonly>-->
<!--        </form>-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td><input class="button" type="button" value="C" onclick="clean()"></td>-->
<!--                <td><input class="button" type="button" value="<" onclick="back()"></td>-->
<!--                <td><input class="button" type="button" value="/" onclick="insert('/')"></td>-->
<!--                <td><input class="button" type="button" value="*" onclick="insert('*')"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><input class="button" type="button" value="7" onclick="insert(7)"></td>-->
<!--                <td><input class="button" type="button" value="8" onclick="insert(8)"></td>-->
<!--                <td><input class="button" type="button" value="9" onclick="insert(9)"></td>-->
<!--                <td><input class="button" type="button" value="-" onclick="insert('-')"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><input class="button" type="button" value="4" onclick="insert(4)"></td>-->
<!--                <td><input class="button" type="button" value="5" onclick="insert(5)"></td>-->
<!--                <td><input class="button" type="button" value="6" onclick="insert(6)"></td>-->
<!--                <td><input class="button" type="button" value="+" onclick="insert('+')"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><input class="button" type="button" value="1" onclick="insert(1)"></td>-->
<!--                <td><input class="button" type="button" value="2" onclick="insert(2)"></td>-->
<!--                <td><input class="button" type="button" value="3" onclick="insert(3)"></td>-->
<!--                <td rowspan="5"><input class="button button_equal" type="button" value="=" onclick="equal()"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td colspan="2"><input class="button button_0" type="button" value="0" onclick="insert(0)"></td>-->
<!--                <td><input class="button" type="button" value="." onclick="insert('.')"></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--    <script src="js/main.js"></script>-->

{% endblock %}
