{% extends 'core/base.html' %}
{% load static %}
{% block headercontent %}
{% endblock %}
{% block content %}
<div class="row" style="height: 100vh; overflow-y: hidden;">
  <div class="col-lg-6 col-6" style="height: 100%;">
  <a href="{% url 'proyectos' proyecto_id=0 %}" style="width: 100%;">
    <div class="small-box bg-primary clicleable" style="background-color: #9fadbf !important; height: 100%; overflow-y: hidden;">
      <div class="inner">
        <h3>PROYECTOS</h3>
      </div>
      <div class="icon">
        <i class="ion ion-clipboard"></i>
      </div>
    </div>
  </a>
  </div>
  <div class="col-lg-6 col-6" style="height: 100%;">
    <a href="{% url 'calculadora' %}" style="width: 100%;">
      <div class="small-box bg-primary clicleable" style="background-color: #d8d7d6 !important; height: 100%; overflow-y: hidden;">
        <div class="inner">
          <h3>CALCULADORA</h3>
        </div>
        <div class="icon">
          <i class="fas fa-calculator"></i>
        </div>
      </div>
    </a>
  </div>
</div>


<div class="row">
  <div class="col-lg-4 col-4 right">
<!--    <a href="index3.html" class="brand-link">-->
<!--      <img src="{% static 'src/img/logo.png' %}"  height="160" width="160">-->
<!--    </a>-->
  </div>
  <div class="col-lg-4 col-4 mx-auto text-center">

<!--      <img src="{% static 'src/img/logo.png' %}"  height="160" width="160">-->
<!--      <img src="{% static 'src/img/logo_2.jfif' %}"  height="160" width="160">-->
<!--    <a href="index3.html" class="brand-link">-->
<!--      <img src="{% static 'src/img/logo.png' %}"  height="160" width="160">-->
<!--    </a>-->
  </div>
  <div class="col-lg-4 col-4  mx-auto text-right">
<!--    <a href="index3.html" class="brand-link">-->
<!--      <img src="{% static 'src/img/logo.png' %}"  height="160" width="160">-->
<!--    </a>-->
  </div>
</div><div class="row" style="height: 100vh; overflow-y: hidden;">
  <div class="col-lg-6 col-6">
    <a href="{% url 'proyectos' proyecto_id=1 %}" style="text-decoration: none; color: inherit; height: 100%;">
      <div class="small-box bg-primary clicleable" style="background-color: #0e1c47 !important; height: 100%;">
        <div class="inner">
          <h3>BOM</h3>
        </div>
        <div class="icon">
          <i class="ion ion-clipboard"></i>
        </div>
      </div>
    </a>
  </div>
  <a href="{% url 'paint' %}">
    <div class="col-lg-6 col-6">
      <a href="{% url 'paint' %}" style="text-decoration: none; color: inherit; height: 100%;">
      <div class="small-box bg-secondary clicleable" style="height: 100%;">
          <div class="inner">
            <h3>PAINT</h3>
          </div>
          <div class="icon">
            <i class="fas fa-paint-brush"></i>
          </div>
      </div>
      </a>
    </div>
  </a>
</div>



{% endblock %}
